body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

div#game {
    position: absolute;
    display: none;
    z-index: 0;
    left: calc(50% - 640px / 2);
    top: calc(50% - 384px / 2);
    width: 640px;
    height: 384px;
}

table#board {
    position: absolute;
    z-index: 1;
    width: 128px;
    left: 273px;
    top: 95px;
    margin: 0;
    padding: 0;
    border-spacing: 0px 0px;
    /* border: 1px solid red; */
}

table#board td {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    /* border: white 1px dotted; */
}

div#game-info {
    /* display: none; */
    z-index: 3;
    position: absolute;
    width: 280px;
    height: 100px;
    left: calc(50% - 280px / 2);
    top: calc(50% - 100px / 2);
}

table#animation {
    position: absolute;
    z-index: 2;
    right: 128px;
    top: 0px;
    margin: 0;
    padding: 0;
    border-spacing: 0px 0px;
}

table#animation td {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    /* border: red 1px dotted; */
}

div#mario {
    position: absolute;
    display: none;
    width: 115px;
    height: 114px;
    z-index: 3;
    top: 44px;
    right: 48px;
    background-image: url("img/go_dr.png");
}

div#dance {
    /* border: 1px red solid; */
    position: absolute;
    bottom: 3px;
    left: 30px;
    width: 180px;
    height: 180px;
}

div#dance img {
    /* border: 1px blue solid; */
    position: absolute;
    width: 64px;
}

/* div#pill{
    position: absolute;
    width: 32px;
    height: 16px;
    background-color: red;
} */

/* .salmon {
    background-color: salmon;
}

.blue {
    background-color: royalblue;
}

.yellow {
    background-color: yellow;
} */