body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

div#game {
    position: absolute;
    left: calc(50% - 640px / 2);
    top: calc(50% - 384px / 2);
    width: 640px;
    height: 384px;
    background-image: url("img/pf.png");
}

table {
    position: absolute;
    width: 128px;
    left: 273px;
    top: 95px;
    margin: 0;
    padding: 0;
    border-spacing: 0px 0px;
    /* border: 1px solid red; */
}

td {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

/* div#pill{
    position: absolute;
    width: 32px;
    height: 16px;
    background-color: red;
} */

/* .salmon {
    background-color: salmon;
}

.blue {
    background-color: royalblue;
}

.yellow {
    background-color: yellow;
} */